/* Background */
.wrapper {
    background-image: url(background_image/se3309_background_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 97vw;
    height: 97vw;
    color: white;
}

/* Title */
h1 {
    padding-top: 10px;
    text-align: center;
    text-shadow: 5px 5px 3px #5636a7;
    color: white;
    font-size: 48px;
}

.header-container {
    background-color: transparent;
}

.search-container {
    top: 15px;
    text-align: right;
    vertical-align: middle;
}

/* Search input textbox */
#countryName,
#currencyCode {
    width: 300px;
    min-height: 24px;
    background-color: #ffffff;
    border: 1px solid black;
    transition: all 0.2s ease-in-out 0s;
    font-size: 16px;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.25);
}

/* Search input textbox clicked */
#countryName:focus,
#currencyCode:focus {
    outline: none;
    border: 1px solid #fff59e;
    box-shadow: inset 0 0 0 1px #fff59e;
}

.country-search-container {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 7px;
}

.currency-search-container {
    padding-right: 7px;
    padding-bottom: 15px;
}

.container {
    margin-top: 16px;
}

.countryList {
    list-style: none;
    font-size: 16px;
    padding: 7px 7px;
}

.country {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.region-text {
    font-weight: bold;
}

ul {
    padding-inline-start: 0px;
}

/* Even list */
li {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 3px 2px 10px 1px #ffffff;
}

/* Odd list */
li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 3px 2px 10px 1px #ffffff;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #fffbc8;
}

#display-result {
    margin-top: 16px;
}

#display-title {
    display: none;
    text-align: center;
    text-shadow: 2px 4px 5px rgb(255, 215, 0);
    color: white;
    font-size: 36px;
    margin: 10px;
    padding-bottom: 10px;
}

/* Even dynamic list */
#dynamic-list .country {
    background-color: rgba(255, 245, 158, 0.35);
    box-shadow: 3px 2px 10px 1px rgb(255, 245, 158);
    margin-bottom: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    list-style: none;
}

/* Odd dynamic list */
#dynamic-list .country:nth-child(odd) {
    background-color: rgba(255, 215, 0, 0.15);
    box-shadow: 3px 2px 10px 1px rgb(255, 215, 0);
}

/* New-content div font size*/
#new-content {
    font-size: 16px;
    padding: 7px 7px;
}

/* Country name style*/
#dynamic-country-name {
    font-weight: bold;
}